<head>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/admin.js"></script>
</head>
<body>
<div class="nav-block"></div>
    <div class="container">
        <div class="col">
            {{#if actionFeedback}}
                {{#each actionFeedback}}
                    <h3 class="h5 mb-3 fw-normal text-muted">{{.}}</h3>
                {{/each}}
            {{/if}}
            <h4>Admin Actions</h4>

            <!-- Dropdown Button -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Select Action
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#" onclick="showActionGroup('calendarEvent')">Calendar Event Actions</a></li>
                    <li><a class="dropdown-item" href="#" onclick="showActionGroup('teamRoster')">Team Roster Actions</a></li>
                    <li><a class="dropdown-item" href="#" onclick="showActionGroup('userActions')">Website User Actions</a></li>
                </ul>
            </div>

            <!-- Action Groups -->
            <!-- Calendar Event Actions -->
            <div id="calendarEvent" class="btn-group" style="display:none;">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off" onclick="showDiv('newCalendar')" />
                <label class="btn btn-outline-primary" for="option1">Add Calendar Event</label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off" onclick="showDiv('editCalendar')" />
                <label class="btn btn-outline-primary" for="option2">Edit Calendar Event</label>

                <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off" onclick="showDiv('deleteCalendar')" />
                <label class="btn btn-outline-primary" for="option3">Delete Calendar Event</label>

            </div>

            <!-- Team Roster Actions -->
            <div id="teamRoster" class="btn-group" style="display:none;">
                <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off" onclick="showDiv('newPlayer')" />
                <label class="btn btn-outline-primary" for="option4">New Player</label>

                <input type="radio" class="btn-check" name="options" id="option5" autocomplete="off" onclick="showDiv('editPlayer')" />
                <label class="btn btn-outline-primary" for="option5">Edit Player</label>
                
                <input type="radio" class="btn-check" name="options" id="option6" autocomplete="off" onclick="showDiv('deletePlayer')" />
                <label class="btn btn-outline-primary" for="option6">Delete Player</label>
            </div>

            <!-- Website User Actions -->
            <div id="userActions" class="btn-group" style="display:none;">
                <input type="radio" class="btn-check" name="options" id="option7" autocomplete="off" onclick="showDiv('newUser')" />
                <label class="btn btn-outline-primary" for="option7">Create User</label>

                <input type="radio" class="btn-check" name="options" id="option8" autocomplete="off" onclick="showDiv('editUser')" />
                <label class="btn btn-outline-primary" for="option8">Edit User</label>

                <input type="radio" class="btn-check" name="options" id="option9" autocomplete="off" onclick="showDiv('deleteUser')" />
                <label class="btn btn-outline-primary" for="option9">Delete User</label>
            </div>
            

            <div class="col-sm-9 bg-light p-5">
                <div id="admin-welcome">
                    <div class="container">
                        <h1>Welcome to the Admin Panel!</h1>
                        <p>Please select an action above.</p>
                    </div>
                </div>
                
                {{!-- CREATE PLAYER SECTION --}}
                <form action="/admin" method="post">
                    <input type="hidden" name="post_type" value="create_player">
                    <div id="newPlayer" style="display:none;">
                        <div class="container">
                            <h1>Add Player to Roster</h1>
                            <div class="column">
                                <label for="playernumber">Jersey Number: </label>
                                <input type="number" name="playernumber" id="playernumber" required>
                            </div>
                            <div class="column">
                                <label for="playername">Full Name: </label>
                                <input type="text" name="playername" id="playername" required>
                            </div>
                            <div class="column">
                                <label for="playergamertag">Gamer Tag: </label>
                                <input type="text" name="playergamertag" id="playergamertag" required>
                            </div>
                            <div class="column">
                                <label for="playerteam">Team: </label>
                                <select id="playerteam" name="playerteam">
                                    <option value="staff">Team Staff</option>
                                    <option value="leagueoflegends">League of Legends</option>
                                    <option value="rocketleague">Rocket League</option>
                                    <option value="smashultimate">Smash Ultimate</option>
                                    <option value="overwatch">Overwatch</option>
                                    <option value="valorant">Valorant</option>
                                    <option value="splatoon">Splatoon</option>
                                    <option value="apexlegends">Apex Legends</option>
                                    <option value="rainbowsix">Rainbow Six</option>
                                </select>
                            </div>
                            <div class="column">
                                <label for="playerposition">Position: </label>
                                <input type="text" name="playerposition" id="playerposition" required>
                            </div>
                            <div class="column">
                                <label for="playergrade">Grade: </label>
                                <select id="playergrade" name="playergrade">
                                    <option value="freshman">Freshman</option>
                                    <option value="sophomore">Sophomore</option>
                                    <option value="junior">Junior</option>
                                    <option value="senior">Senior</option>
                                    <option value="postgrad">Post-Graduate</option>
                                </select>
                            </div>
                            <div class="column">
                                <label for="playerhometown">Hometown/High School: </label>
                                <input type="text" name="playerhometown" id="playerhometown" required>
                            </div>
                            <div class="column">
                                <label for="country">Country: </label>
                                <input type="text" name="country" id="country" required>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>                
                </form>

                <div id="deletePlayer" style="display:none;">
                    {{#each items}}
                        <form action="/admin" method="post" class="delete-form">
                            <input type="hidden" name="post_type" value="delete_player">
                            <input type="hidden" name="playerId" value="{{id}}">
                            <input type="hidden" name="playerName" value="{{name}}">

                            <div class="user-item">
                                <h3>{{name}}</h3>
                                <p>Id: {{id}}</p>
                                <p>Gamer Tag: {{gamertag}}</p>
                                <p>Grade: {{grade}}</p>
                                <p>Number: {{number}}</p>
                                <p>Position: {{position}}</p>
                                <p>Team: {{team}}</p>
                                <p>Hometown Highschool: {{hometown_highschool}}</p>
                                <p>Country Code: {{country_code}}</p>
                                
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    {{/each}}
                </div>
                
                <form action="/admin" method="post">
                    <input type="hidden" name="post_type" value="create_user">
                    <div id="newUser" style="display:none;">
                        <div class="container">
                            <h1>Create a New User</h1>
                            <div class="column">
                                <label for="userEmail">User Email: </label>
                                <input type="email" name="userEmail" id="userEmail" required>
                            </div>
                            <div class="column">
                                <label for="userName">Username: </label>
                                <input type="text" name="userName" id="userName" required>
                            </div>
                            <div class="column">
                                <label for="password">Password: </label>
                                <input type="text" name="password" id="password" required>
                            </div>
                            <div class="column">
                                <label for="auth">User Auth Level: </label>
                                <select id="auth" name="auth">
                                    <option value="user" selected>User</option>
                                    <option value="admin">Admin</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>



                
                {{!-- <form action="/admin" method="post">
                    <input type="hidden" name="deleteUser" value="delete_user">
                    <input type="hidden" name="userId" value="{{id}}">
                    <div id="deleteUser" style="display:none;">
                        <div class="container">
                            <h1>Team List</h1>
                            <p>
                                <table>
                                <thead>
                                    <tr style="background-color: #0C1E3D;">
                                    <th>ID</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Authentication</th>
                                    <th>Delete User</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {{#each items }}
                                    <tr>
                                    <td>{{id}}</td>
                                    <td>{{email}}</td>
                                    <td>{{username}}</td>
                                    <td>{{auth}}</td>
                                    <td><button class="btn btn-danger" type="submit">Delete</button></td>
                                    </tr>
                                {{/each}}
                                </tbody>
                                </table>
                            </p>
                        </div>
                    </div>
                </form> --}}

                <div id="deleteUser" style="display:none;">
                    {{#each items}}
                        <form action="/admin" method="post" class="delete-form">
                            <input type="hidden" name="post_type" value="delete_user">
                            <input type="hidden" name="userEmail" value="{{email}}">
                            <input type="hidden" name="userId" value="{{id}}">

                            <div class="user-item">
                                <h3>{{username}}</h3>
                                <p>Email: {{email}}</p>
                                <p>Authentication: {{auth}}</p>
                                <p>ID: {{id}}</p>
                                
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    {{/each}}
                </div>
                


                    {{!-- CREATE EVENT SECTION --}}
                    <form action="/admin" method="post">
                        <input type="hidden" name="post_type" value="create_event">
                        <div id="newCalendar" style="display:none;">
                        <h1>Add Calendar Event</h1>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>